.expense-item{
background:gray;
display: flex;
align-items:center;
justify-content:space-around;
border-radius: 5px;
height: 20vh;
margin-bottom: 10px;
font-family: 'Roboto', sans-serif;

}

.expense-item__date{
    font-weight: bold;
    font-size: 1.2rem;
}

.expense-item__description{
      font-weight: 700;
    font-size: 2rem;
    color: white;
}

.expense-item__price{
    border: 3px solid white;
    background:rgb(3, 3, 38);
    font-weight: bold;
    color:white;
    padding: 0.5em 1.48em;
    font-size:1.2em;
    border-radius: 5px;
}