*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sub{
    box-shadow: 2px 2px 5px  white;
  
}

button{

    
}